pandas
Pillow
protobuf
PyYAML
aiohttp
motor
numpy
streamlit
seaborn
matplotlib
plotly
joblib
scikit-learn
sklearn.model_selection
plotly.express
PIL
sklearn.metrics
mean_squared_error
mean_absolute_error
mean_absolute_percentage_error
LogisticRegression
model_selection
pickle